.main_container {
  width: 100%;
  background-color: #537188;

  span {
    color: #fff;
  }

  svg {
    fill: #fff;
    width: 25px;
    height: 25px;
  }
}

.arrow {
  fill: #537188;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
