// src\components\Layout\Header\index.module.scss
.main_container {
  width: 100%;
  background-color: #537188;

  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;
    align-items: center;
    margin: 0;
  }
}

.titleText {
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.subtitleText {
  @media (max-width: 768px) {
    font-size: 18px;
  }
}
