.page_container {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  display: flex; // Use Flexbox for centering
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically
}
